:root {
    --color-primary: #457B9D;
    --color-primary-darker: #1d3557;
    --color-primary-lighter: #a8dadc;
    --color-secondary: #f1faee;
    --color-accent: #e63946;
    --color-grey-dark: #1E1E1E;
    --color-grey: #313030;
    --color-grey-light: #8A8A8A;
    --color-navigation-element: #f9ffed;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.login-body {
    background-color: var(--color-primary-lighter);
}

.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 5rem;
    background-color: var(--color-secondary);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);

}

.form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-control label {
    font-size: 2rem;
}

.form-control input {
    background-color: var(--color-primary-lighter);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.form-control input:focus {
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.form-control select {
    background-color: var(--color-primary-lighter);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.form-control select:focus {
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.login-btn {
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

.login-page button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.register-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
}


.loginErrorMessage {
    color: var(--color-accent);
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.navigation {
    height: 6vh;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-lighter);
}

.navigation > li > a {
    color: white;
}

.navigation-left {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    min-height: 100%;
    max-height: 100%;
    padding: 0;
}

.navigation-right {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-height: 100%;
}

.navigation-element {
    padding: 1rem 1rem;
    color: var(--color-grey-dark);
    font-size: 1.8rem;
}

.navigation-element:hover {
    background-color: #e63946;
}

.navigation-element a {
    text-decoration: none;
    color: var(--color-grey-dark);
}

.navigation-element a:hover {
    color: var(--color-navigation-element);
}

.navigation-right-search{
    display: flex;
    height: 100%;
    margin: 0;
    padding-right: 1.5rem;
}

.navigation-right-search input{
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0;
    border-radius: 5px;
}

.navigation-right-search input:focus{
    outline: none;
    color: var(--color-accent);
    background-color: #f6f7f2;
}

.navigation-right-search button{
    color: var(--color-grey-light);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -1.5rem;
    padding: 0 1rem 0 1rem;
    background-color: var(--color-secondary);
}

.navigation-right-search button:hover{
    color: var(--color-grey-dark);
    cursor:pointer;
}

.navigation-right-search button:active{
    outline: none;
}

.navigation-right-suggestions{
    display: none;
    position: absolute;
    left: 0;
    top: 6vh;
    background-color: #fffae6;
    max-width: 29rem;
}

.navigation-right-suggestions a{
    text-decoration: none;
}

.navigation-right-single-suggestion{
    display: flex;
    justify-content: left;
    cursor:pointer;
    margin: 1.5rem;
}

.navigation-right-single-suggestion:hover{
    background-color: var(--color-accent);
}

.navigation-right-single-suggestion:hover > .single-suggestion-info > .single-suggestion-info-book{
    color: var(--color-navigation-element);
}

.navigation-right-single-suggestion:hover > .single-suggestion-info > .single-suggestion-info-name{
    color: var(--color-navigation-element);
}
.single-suggestion-img{
    max-width: 5rem;
}

.single-suggestion-info{
    margin-left: 1rem;
}

.single-suggestion-info-book{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-grey-dark);
}

.single-suggestion-info-name{
    font-size: 1rem;
    color: var(--color-grey)
}

.navigation-right-toggle {
    position: relative;
    background-color: #1d3557;
    font-size: 2.5rem;
    border: none;
    height: 6vh;
    padding: 0 3rem;
    min-height: 100%;
    max-height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-right-toggle i {
    color: var(--color-navigation-element);
}

.navigation-user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 6vh;
    border-radius: 1px;
    width: 15rem;
    padding: 1rem;
    background: rgb(29,53,87);
    background: linear-gradient(90deg, rgba(29,53,87,.8) 0%, rgba(29,53,87,.8) 100%);
    text-align: center;
    margin-top: -1px;
}
.navigation-user-dropdown > a {
    text-decoration: none;
    color: var(--color-navigation-element);
    display: block;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}


.navigation-user-dropdown > a > i {
    font-size: 2.5rem;
    top: -2px;
    margin: 1rem auto;
    color: var(--color-secondary);
}
.navigation-user-dropdown > a > p {
   margin: 0;
}


.navigation-right-toggle:hover + .navigation-user-dropdown {
    display: block;
}

.navigation-user-dropdown:hover {
    display: block;
}

.navigation-right-toggle:active{
    outline: none;
    border: none;
}

/* REGISTRATION PAGE ######################################## */

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.next-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary-darker);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

.previous-btn {
    background-color: var(--color-primary-lighter);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

.register-form-btn {
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

/* Index page ######################################## */
.index-body {
    width: 90%;
    margin: 0 auto;
}

.index-wrapper{
    display: flex;
    width: 100%;

}

.genres-wrapper{
    width: 20%;
    margin: 2rem 0 0 0;
    display: inline-block;
    flex-direction: column;
    background-color: var(--color-primary-lighter);
    max-height: 80rem;
    position: sticky;
    top: 0;
}

.genres-wrapper h3{
    margin-top: 0;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-navigation-element);
    background-color: var(--color-primary-darker);
}

.genres-wrapper a{
    display: block;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    color: var(--color-grey-dark);

}

.genres-wrapper a:hover{
    cursor: pointer;
    color: var(--color-accent);
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0;
}

.product-card {
    background-color: #fffae6;
    width: calc(25% - 4rem);
    margin: 2rem 0 2rem 0;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55rem;
}

.product-card-img {
    display: block;
    height: 30rem;
    min-height: 30rem;
    max-height: 30rem;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.product-card-name-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-name {
    color: var(--color-grey-dark);
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}

.product-card-review {
    color: var(--color-grey-dark);
    font-size: 2rem;
    margin: 0;
}

.product-card-author {
    color: var(--color-grey-light);
    font-style: italic;
    font-size: 1.6rem;
    margin: 1rem 0 1rem 0;
}

.product-card-isbn {
    color: var(--color-grey-light);
    font-size: 1.2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.product-card-price-details {
    display: flex;
    justify-content: space-between;
}

.product-card-price {
    color: var(--color-accent);
    width: 45%;
    font-size: 2rem;
}

.product-card-details {
    width: 45%;
    border: none;
    color: var(--color-secondary);
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    height: 5rem;
}

.product-card-details:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pages-navigation{
    display: block;
    margin: 3rem auto;
    text-align: center;
}

.pages-navigation > a{
    text-decoration: none;
}

.results-nav-btn{
    border: 1px solid var(--color-grey-dark);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    color: var(--color-grey-dark);
    width: 4rem;
    height: 4.5rem;
    cursor: pointer;
}

.results-nav-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.results-prevnext-btn{
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    color:  var(--color-accent);
    width: 4rem;
    height: 4.5rem;
    cursor: pointer;
}

.results-prevnext-btn:hover{
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

/********************************** product details page ************************************/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    width: 25%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.product-details{
    display: flex;
    min-height: 60vh;
    margin-top: 3rem;
    justify-content: left;
}

.product-details-info{
    width: 60%;
    margin-left: 2rem;
}

.details-info-name{
    font-size: 2rem;
    text-transform: uppercase;
}

.details-info-authors{
    display: flex;
    align-items: center;
}

.details-info-authors > p {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.details-info-author{
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
}

.details-info-genres{
    display: flex;
    align-items: center;
}
.details-info-genres > p{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.details-info-genre{
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
}

.details-info-lang{
    font-size: 1.5rem;
}

.details-info-about{
    font-size: 1.5rem;
    max-width: 60rem;
}

.details-info-rating{
    font-size: 1.5rem;
}
.details-info-publisher > a{
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
}

.product-card-price-details a{
    width: 100%;
    text-align: right;
}
.quantity-label{
    font-size: 1.5rem;
}

#input-quantity{
    max-width: 4rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    color: var(--color-accent);
}

#input-quantity:focus{
    outline: none;
    border: 1px solid var(--color-accent);
}

.details-info-cta{
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-top: 2rem;
}

.details-info-cta:hover{
    cursor:pointer;
    transform: scale(1.05);
}

.product-details-comments{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.details-single-comment{
    background-color: var(--color-secondary);
    -webkit-box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
    box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    min-width: calc(33% - 2rem);
}

.single-comment-user{
    font-size: 1.6rem;
}

.single-comment-stars{
    font-size: 1.5rem;
    color: var(--color-accent)
}

.single-comment-review{
    font-size: 1.2rem;
}

.new-comment-form{
    margin-top: 2rem;
}
.new-comment-label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.comment-review{
    font-size: 1.5rem;
    display: block;
    margin-top: 1rem;
}

.comment-text{
    font-size: 1.5rem;
    display: block;
}

.comments-load-more{
    border: 1px solid var(--color-accent);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--color-accent);
    margin: 2rem auto 0 auto;
    display: block;
}

.comments-load-more:hover{
    background-color: var(--color-accent);
    color: white;
    cursor:pointer;
}

.comments-load-more:focus{
    outline: none;
}

.web-footer{
    background-color: var(--color-grey-dark);
    color: var(--color-navigation-element);
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;

}

.web-footer i {
    font-size: 5rem;
    padding: 2rem;
}

.web-footer i:hover{
    cursor: pointer;
}

/************************ basket page **********************************/
.basket-body{
    width: 90%;
    margin: 0 auto;
}

.basket-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.basket-single-item{
    display: flex;
    align-items: center;
    height: 20rem;
    width: 80rem;
    margin-top: 2rem;
    justify-content: space-around;
    background-color: #fffae6;
    -webkit-box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
    box-shadow: 15px 11px 59px -22px rgba(0,0,0,0.75);
}

.basket-single-item img{
    width: 10rem;
}

.basket-single-item p{
    font-size: 2rem;
    display: block;
    width: 20rem;
}

.basket-quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
}

.basket-quantity-btn{
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 5.5rem;
    border: none;
}

.btn-plus{
    background-color: forestgreen;
    color: white;
}

.btn-minus{
    background-color: red;
    color: white;
}

.basket-quantity-input{
    width: 5.5rem;
    height: 3rem;
    border: none;
    text-align: center
}

.basket-delete-btn{
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.basket-delete-btn:hover{
    cursor: pointer;
    background-color: transparent;
    color: red;
    border: 1px solid red;
}

.basket-finalize{
    padding: 2rem;
    font-size: 2.5rem;
    background-color: var(--color-navigation-element);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
}

.basket-finalize:hover{
    cursor: pointer;
    padding: 2rem;
    font-size: 2.5rem;
    background-color: var(--color-accent);
    color: var(--color-navigation-element);
    transform: scale(1.05);
}



