:root {
    --color-primary: #457B9D;
    --color-primary-darker: #1d3557;
    --color-primary-lighter: #a8dadc;
    --color-secondary: #f1faee;
    --color-accent: #e63946;
    --color-grey-dark: #1E1E1E;
    --color-grey: #313030;
    --color-grey-light: #434343;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.login-body {
    background-color: var(--color-primary-lighter);
}

.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 5rem;
    background-color: var(--color-secondary);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.75);

}

.form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-control label {
    font-size: 2rem;
}

.form-control input {
    background-color: var(--color-primary-lighter);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.form-control input:focus {
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.form-control select {
    background-color: var(--color-primary-lighter);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.form-control select:focus {
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.login-btn {
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

.login-page button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.register-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
}


.loginErrorMessage {
    color: var(--color-accent);
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.navigation {
    height: 6vh;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #457b9d;
}

.navigation > li > a {
    color: white;
}

.navigation-left {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    min-height: 100%;
    max-height: 100%;
}

.navigation-right {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-height: 100%;
}

.navigation-element {
    margin: 1rem 1rem;
}

.navigation-user-dropdown {
    display: none;
    position: absolute;
    left: 0rem;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 10rem;
}

.navigation-user-dropdown > i {
    display: block;
    font-size: 2.5rem;
    top: -2px;
    margin: 0 auto;
}

.toggle {
    position: relative;
    background-color: #1d3557;
    font-size: 2.5rem;
    border: none;
    color: white;
    height: 6vh;
    padding: 0 3rem;
    min-height: 100%;
    max-height: 100%;

}

.navigation-right:hover .navigation-user-dropdown {
    display: block;
}

/* REGISTRATION PAGE ######################################## */

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.next-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary-darker);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

.previous-btn {
    background-color: var(--color-primary-lighter);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

.register-form-btn {
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 1rem;
    margin: 0 auto;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 45%;
}

/* Index page ######################################## */
.index-body {
    width: 90%;
    margin: 0 auto;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    background-color: var(--color-secondary);
    width: calc(33% - 4rem);
    margin: 2rem 0 2rem 0;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50rem;
}

.product-card-img {
    display: block;
    height: 30rem;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.product-card-name-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-name {
    color: var(--color-grey-dark);
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

}

.product-card-review {
    color: var(--color-grey-dark);
    font-size: 2rem;
    margin: 0;
}

.product-card-author {
    color: var(--color-grey);
    font-size: 1.6rem;
    margin: 1rem 0 1rem 0;
}

.product-card-isbn {
    color: var(--color-grey-light);
    font-size: 1.2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.product-card-price-details {
    display: flex;
    justify-content: space-between;
}

.product-card-price {
    color: var(--color-accent);
    width: 45%;
    font-size: 2rem;
}

.product-card-details {
    width: 45%;
    border: none;
    color: var(--color-secondary);
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    height: 5rem;
}

.product-card-details:hover {
    transform: scale(1.05);
    cursor: pointer;
}


